.App-logo {
  height: 120px;
  width: 270px;
}

.App-header {
  height: 120px;
  background-color: #337ab7;
}

.App {
  color: black;
}

.App-content {
	margin-left: 20px;
	margin-right: 20px;
	
}

.img-carousel {
  width:800px;
  max-height: 200px;
  padding: 10px;

}

.img-carousel:hover {
  width:800px;
  max-height: 200px;
  background-color: green;
  padding: 10px;
  cursor: grab;
}

.centered {
    position: absolute;
    top: 5%;
    left: 23%;
    font-weight:bold;
    font-size: 15px;
}

.container {
    position: relative;
    color: white;
}
